.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f172a; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
  margin: 0;
  font-family: 'Arial', sans-serif;
}
